@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");

/* Global Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  color: #ffffff;
  text-decoration: none;
}

li a {
  font-size: 1.7rem;
}

button {
  min-width: 20rem;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  background-color: #4c6e97;
  color: white;
  padding: 1.6rem;
  transition: background 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

button:hover {
  color: #ffffff;
  background-color: #111b27;
  cursor: pointer;
}

/* Navigation Style */

.main-head {
  background-color: #111b27;
  color: #ffffff;
  top: 0;
  position: sticky;
  z-index: 3;
}

nav {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 30rem;
}

#logo {
  font-size: 2.8rem;
  font-family: "Sora", sans-serif;
  flex: 2 1 30rem;
}

/* Hero Style */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(./img/landing-page.jpg);
  min-height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 6rem;
}

.hero p {
  font-size: 3rem;
  margin-top: 1.6rem;
  margin-bottom: 5rem;
}

/* Benefit Style */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  font-size: 2.5rem;
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0;
  text-decoration: underline;
  text-decoration-thickness: 0.5;
}

.locations-head p {
  padding: 1rem 0;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  pointer-events: none; /* prevent image from being selected */
}

.moving-cloud-1 {
  animation: cloud-animation 7s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 10%;
  z-index: -1;
  opacity: 0.5;
  animation: cloud-animation 10s infinite alternate ease-in-out;
}

/* Benefits Style */

#benefits {
  min-height: 100vh;
}

.benefits-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: 30vh;
  background: #343c44;
  color: #ffffff;
  padding: 2rem;
}

.benefits-head h2 {
  font-size: 5rem;
  padding: 1rem;
}

.benefits-head p {
  font-size: 2rem;
  padding: 1rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  min-height: 50vh;
  margin: 2rem 5rem;
  text-align: center;
  flex: 1 1 25rem;
  box-shadow: 0px 10px 10px rgba(94, 94, 94, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 3.5rem;
  padding-top: 2rem;
}

.card p {
  font-size: 2rem;
  padding: 3rem;
}

.card img {
  min-height: 10rem;
  max-width: 25%;
  padding: 2rem;
}

.card-icon {
  background-color: #27394e;
}

/* Contact Style */

#contact {
  min-height: 100vh;
  background: url(./img/contact-mountain.png),
    linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-head {
  font-size: 3rem;
  padding: 3.5rem;
}

.name-form,
.email-form {
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
  margin: 0 3rem;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  color: white;
  min-width: 50vw;
  border-radius: 20px;
}

.form-wrapper label {
  margin-right: 3rem;
  justify-content: end;
}

.form-wrapper button {
  padding: 2rem;
  margin-top: 5rem;
  min-width: 100%;
  border-radius: 0px 0px 20px 20px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-wrapper input {
  min-width: 20vw;
  padding: 1rem 3rem;
  font-size: 2rem;
}

/* Footer Style */

footer {
  min-height: 15vh;
  display: flex;
  align-items: center;
  background: #111b27;
  color: #ffffff;
  padding: 2rem;
}

.footer-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-wrapper h2 {
  font-family: "Sora", sans-serif;
  font-size: 3rem;
  flex: 2 1 40rem;
}

.footer-wrapper ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex: 1 1 40rem;
}

/* Animation Keyframes */

@keyframes cloud-animation {
  from {
    transform: translate(10%, -5%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* Media Query */

@media screen and (max-width: 935px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    font-size: 4rem;
    padding: 2rem;
  }
  .hero p {
    margin-bottom: 3rem;
  }
  button {
    min-height: 5rem;
    padding: 1rem;
  }
  #locations {
    text-align: center;
  }
  .locations-head {
    background: rgba(17, 27, 39, 0.9);
    background-clip: text;
    -webkit-text-fill-color: white;
    padding: 4rem 1rem;
  }
  .cloud {
    height: 40rem;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  footer {
    text-align: center;
  }
  .form-wrapper {
    width: 100%;
  }
  .footer-wrapper h2 {
    font-size: 4rem;
    padding: 2rem 0rem;
  }
  .footer-wrapper ul {
    padding: 2rem 0rem;
  }
}

@media screen and (width: 768px) {
  nav {
    text-align: left;
  }
  .footer-wrapper h2 {
    text-align: left;
    align-items: center;
  }
}
